.logo {
    width: 200px;
    margin-right: 40px;
    margin-left: 40px;
} 

.header-container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu > li {
    margin: 20px;
}